<ng-container *ngIf="selectedShifts | async; let selectedShifts">
  <div class="row" *ngIf="selectedShifts.length">
    <div class="col-xs-12">
      <div class="segment">
        <div class="row">
          <div class="col-xs-8">
            <h3 class="segment-title">Selected Shifts ({{selectedShifts.length}} of {{availableShiftsNo}})</h3>
          </div>
          <div class="col-xs-4 segment-title-link-container">
            <a href="#">delete all <span class="ic ic-delete" aria-hidden="true"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 timeline">
            <ul>
              <li *ngFor="let shift of selectedShifts">
                <div class="icon-desc-container">
                  <div class="icon">
                    <span class="ic {{shift.teamIcon}}"></span>
                  </div>
                  <div class="description">
                    <h4>{{shift.teamTitle}}</h4>
                    <div class="timeline-when">
                      <p>{{shift.startDateTime | amCalendar : {sameElse:'lll'} }}
                        <ng-container *ngIf='shift.endDateTime'>
                          - {{shift.endDateTime | amDateFormat:'LT'}}
                        </ng-container>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="karma-point-container">
                  <a href="#">delete <span class="ic ic-delete" aria-hidden="true"></span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>