<div *ngIf='projects' class="row row-small-pad dashboard-projects">
  <ng-container *ngFor='let project of projects'>
    <a href="" (click)="selectProject($event, project.$key)"> 
        <snui-project-card-item 
            [title]='project.title'
            [image]='project.images.length > 0 ? project.images[0] : null'
            [startDateTime]='project.startDateTime'
            [endDateTime]='project.endDateTime'
            [location]='project.location'
            [maxKarmaPoints]='project.maxKarmaPoints'
            [status]='getStatusDisplayByProjectKey(project.$key)'
            >
        </snui-project-card-item>
       
   </a>
  </ng-container>
</div>
