<ng-container *ngIf='opp && applicationKey'>
  <snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>    
    Start Your Application With This Question
  </snui-header-simple>
  <form novalidate [formGroup]="answerForm">
    
    <div class="segment">
      <p class="card-text"><!-- {{project.title}}-->Project.title wants to know your answer.</p>
    </div>

    <div class="segment no-brd">
      <p class="card-text">{{opp.question}}</p>
    </div>


    <div class="form-input question-input" [class.has-error]="!answerForm.get('answer').valid && answerForm.get('answer').touched">
      <div class="icon">
        <span class="ic ic-textbox"></span>
      </div>
      <div class="text">
        <textarea class="form-control" formControlName="answer" rows="4" cols="50" placeholder="Type Your Answer"></textarea>
      </div>
    </div>

    <div class="error" *ngIf="answerForm.get('answer').hasError('required') && answerForm.get('answer').touched">
      Answer is required.
    </div>


    <snui-action-bar>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
          <button (click)="submit()" [disabled]='!answerForm.valid' class="btn btn-default">{{navigateTo === 'review-detail' ? 'Save' : 'Next'}}</button>
        </div>
      </div>
    </snui-action-bar>
  </form>
</ng-container>