<div class="col-xs-6">
    <div class="project-img" [ngStyle]="{ 'background': 'url(' + image?.imageUrl + ')'}">
        <div class="dashboard-project-status" *ngIf="status">{{status}}</div>
    </div>
    <h3 class="project-title">{{title}}</h3>
    <div class="project-karma">
        <div class="icon-karma">
            <span class="ic ic-karma-points"></span>
        </div>
        <div class="project-karma-count">{{maxKarmaPoints}}</div>
    </div>
    <div class="event-date"> 
        {{startDateTime | snDateInterval: endDateTime}}
    </div>
    <div class="event-location">{{location | snLocation}}</div>
</div>