<div class="col-xs-6">
    <div class="event-img" style="background: url('https://placeimg.com/165/230/people/grayscale')">
    </div>
    <h3 class="event-title">Park Cleanup</h3>
    <div class="event-karma">
        <div class="event-karma-count">project.maxKarmaPoints
            <p>up to</p>
        </div>
        <div class="icon-karma">
            <span class="ic ic-star"></span>
        </div>
    </div>
    <div class="event-date">july 15th, 2018</div>
    <div class="event-location">Ventura, CA</div>
</div>