<div class="col-xs-6">
    <div class="event-img" [ngStyle]="{ 'background': 'url(' + image?.imageUrl + ')'}">
    </div>
    <h3 class="event-title">{{title}}</h3>
    <div class="event-karma">
        <div class="event-karma-count">{{maxKarmaPoints}}
            <p>up to</p>
        </div>
        <div class="icon-karma">
            <span class="ic ic-star"></span>
        </div>
    </div>
    <div class="event-date"> {{startDateTime | date : 'longDate'}}
        <ng-container *ngIf='endDateTime'>
            - {{endDateTime | date : 'longDate'}}
        </ng-container>
    </div>
    <div class="event-location">{{location | location}}</div>
</div>