// -- Helpers -- //
@import "scss/layout";
@import "scss/variables";
@import "scss/mixins";

/* demo */

.fake-mobile {
    width: 370px;
    padding: 0;
    @include box-shadow(5px, 5px, 20px, 3px, #858585, false);
    margin: 0 auto;
    .sn-container{
        width: 100% !important;
        .col-md-6,
        .col-md-8{
            width: 100% !important;
        }
        .question-bar{
            width: 100% !important;
        }
    }
}

/* Design */
html, body {
    height: 100%;
}

.sn-container{
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    @include MQ(S) {
        width: 66.66666667%;
    }
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.pg-auth {
    background: rgba(191, 30, 89, 1);
    background: -moz-linear-gradient(45deg, rgba(191, 30, 89, 1) 0%, rgba(128, 107, 173, 1) 59%, rgba(36, 174, 224, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191, 30, 89, 1)), color-stop(59%, rgba(128, 107, 173, 1)), color-stop(100%, rgba(36, 174, 224, 1)));
    background: -webkit-linear-gradient(45deg, rgba(191, 30, 89, 1) 0%, rgba(128, 107, 173, 1) 59%, rgba(36, 174, 224, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(191, 30, 89, 1) 0%, rgba(128, 107, 173, 1) 59%, rgba(36, 174, 224, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(191, 30, 89, 1) 0%, rgba(128, 107, 173, 1) 59%, rgba(36, 174, 224, 1) 100%);
    background: linear-gradient(45deg, rgba(191, 30, 89, 1) 0%, rgba(128, 107, 173, 1) 59%, rgba(36, 174, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1e59', endColorstr='#24aee0', GradientType=1);
    color: #FFF;
}

.pg-default{
    color: $base-color;
    a{
        color: $base-color;
    }
}

.clr {
    display: block;
    overflow: hidden;
    clear: both;
}


/* Typography */

body {
    font-family: $regular_font_family;
    font-weight: 400;
    color: $base-color;
    font-size: 16px;
    a {
        color: $base-color;
        &:hover {
            text-decoration: none;
        }
    }
}

h1 {
    &.event-title,
    &.page-title {
        font-size: 30px;
        margin-top: 0;
        color: #FFF;
        letter-spacing: 1.22px;
        margin-bottom: 12px;
        font-weight: normal;
        .pg-auth & {
            font-size: 40px;
            letter-spacing: 1.6px;
            line-height: 40px;
            margin: 0;
        }
    }

    &.event-title{
        color: $base-dark;
    }
}

h2 {
    font-size: 26px;
    .dashboard-text & {
        margin: 0;
    }
}

h3 {
    font-size: 18px;
    &.profile-name {
        margin-top: 0;
    }
    .dashboard-text & {
        margin: 0;
    }
}

.title-link {
    margin-top: 16px;
    margin-bottom: 10px;
    display: block;
}

.text h3,
.description h3,
.timeline h3 {
    margin: 0;
}

*[data-toggle="collapse"] {
    cursor: pointer;
}

label {
    color: #A5A7A9;
}

.title-bordered{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.64px;
    line-height: 20px;
}


/* General */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
    >[class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

.segment-title {
    margin: 0;
    &.selected-team-title {
        opacity: 0.6;
    }
}

.segment-title-link-container {
    padding-left: 0;
    text-align: right;
}

.component-segment {
    padding-top: 30px;
    @include block-nooverflow;
}

.segment {
    border-bottom: 1px solid #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    &.auth-with-email-container {
        padding: 0;
    }
    &.no-padding-tb {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.no-brd {
        border: none;
    }
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.bottom-links {
    border-top: 2px solid $light-gray;
    padding-top: 15px;
    padding-bottom: 15px;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
    .col-xs-9 {
        padding-left: 0;
    }
    .col-xs-3 {
        padding-right: 0;
        text-align: right;
    }
}

.lineabove {
    &:before {
        content: '';
        width: 120px;
        height: 1px;
        background: $light-gray;
        position: absolute;
        margin-top: -5px;
    }
}

.icon-desc-container {
    width: 75%;
    float: left;
    @include block-nooverflow;
}

.karma-point-container {
    text-align: right;
    width: 25%;
    float: left;
    padding-left: 15px;
    @include block-nooverflow;
}

.icon {
    width: 50px;
    float: left;
    text-align: center;
    .ic {
        font-size: 30px;
    }
}

.text,
.description {
    width: calc(100% - 60px);
    float: right;
    font-size: 14px;
    font-weight: lighter;
    h4 {
        margin: 0;
        font-size: 15px;
        font-weight: lighter;
        span {
            font-size: inherit;
            font-weight: lighter;
            opacity: 0.8;
        }
    }
    p {
        margin-bottom: 0;
    }
    span {
        font-size: 12px;
        font-weight: lighter;
        opacity: 0.8;
    }
}

.card-text {
    font-size: 18px;
    opacity: 0.8;
    font-weight: lighter;
}

.card-location {
    a {
        display: block;
        font-size: 15px;
    }
}


/* Buttons */

.button-table {
    display: table;
    width: 100%;
    .btn {
        display: table-cell;
    }
}

.btn {
    @include border-radius(4px);
    text-transform: uppercase;
    &.btn-primary {
        color: $off-white;
        background-color: transparent;
        border: 1px solid #FFF;
        &:hover {
            color: $base-color;
            background-color: transparent;
        }
    }
    &.btn-secondary{
        background: #FFF;
        color: $pink;
    }
    &.btn-default {
        color: $base-color;
        background-color: transparent;
        border-color: $base-color;
    }
    &.dropdown-toggle {
        border: none;
    }
    &.btn-social-login {
        @include border-radius(7.5px);
        text-transform: none;
        font-size: 16px;
        text-align: left;
        background: #FFF;
        border: none;
        padding: 12px 12px;
        color: $pink;
        margin-bottom: 25px;
        &.btn-trans {
            color: $off-white;
            background-color: transparent;
            border: 1px solid #FFF;
        }
        &:hover {
            background: #DEDFE0;
        }
        .ic {
            margin-right: 55px;
        }
    }
}

.input-group-btn {
    .btn {
        background: transparent;
        border: transparent;
    }
}


/* Forms */
.form-control {
    @include border-radius(0);
}

// .input-group {
//     margin-bottom: 15px;
// }
.icon {
    display: block;
}

.form-input {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    
    
    // .ic{
    //     color: $pink;
    // }
}


/* Nav */

.navbar {
    .ic {
        font-size: 25px;
    }
    .btn {
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
    }
    &.navbar-default {
        border: none;
        background-color: #FFF;
        min-height: 85px;
        padding: 23px 0;
        margin: 0;
        .pg-auth & {
            background-color: transparent;
        }
        .navbar-brand {
            width: 38px;
            height: 40px;
            padding: 0;
            margin: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .navbar-toggle {
            border: none;
            padding: 0;
            @include border-radius(0);
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
        .navbar-menu {
            display: block;
            position: relative;
            float: right;
            margin: 7px 15px;
            height: 30px;
            .ic {
                line-height: 30px;
            }
            &.btn {
                width: 80px;
            }
            @include MQ(S) {
                display: none;
            }
            .pg-auth & {
                color: #FFF;
                margin-right: 0;
                &:hover {
                    color: #FFF;
                }
            }
        }
        .navbar-collapse {
            border: none;
            box-shadow: unset;
            padding: 0;
            .navbar-menu {
                display: none;
                @include MQ(S) {
                    display: block;
                }
            }
            .navbar-form {
                box-shadow: unset;
                margin: 7px 0;
            }
        }
    }
}


/* Header Carousel */

.carousel-control {
    display: none;
}

#eventCarousel {
    .item {
        height: 410px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        @include background-size(cover !important);
    }
}


/* Event Details Page */

.event-title {
    width: calc( 100% - 100px);
    float: left;
}

.event-karma {
    width: 90px;
    float: right;
    overflow: hidden; // .event-karma-count {
    //     font-size: 24px;
    //     font-weight: normal;
    // }
    // .icon-karma {
    //     font-size: 35px;
    //     float: right;
    // }
}

.event-date-location {
    .icon {
        width: 50px;
        float: left;
        text-align: center;
    }
    .text,
    .description {
        width: calc(100% - 60px);
        float: right;
    }
    .event-location {
        border-left: 1px solid $light-gray;
        .icon {
            float: right;
        }
        .text,
        .description {
            float: left;
        }
    }
    a {
        display: block;
        overflow: hidden;
    }
}

.event-requirements {
    .event-req-row {
        border-bottom: 1px solid $light-gray;
    }
    .clearfix {
        border-bottom: 1px solid $light-gray;
    }
    .col-xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 1px solid $light-gray;
        &:nth-of-type(2) {
            border-right: none;
        }
        &:nth-of-type(5) {
            border-right: none;
        }
        &:nth-of-type(7) {
            border-right: none;
        }
        &:nth-of-type(10) {
            border-right: none;
        }
        /* only two items */
        // &:first-child:nth-last-child(2),
        // &:first-child:nth-last-child(2) ~ li {
        //     border-bottom: none;
        // }
        .pending {
            .status {
                opacity: 0.6;
            }
        }
        .active {
            opacity: 0.6;
        }
        .disabled {
            opacity: 0.6;
        }
    }
    .icon {
        width: 50px;
        float: left;
        text-align: center;
    }
    .text,
    .description {
        width: calc(100% - 60px);
        float: right;
    }
}

.you-will-give-got,
.quests,
.timeline {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: block;
            overflow: hidden;
            margin-bottom: 15px;
            .profile-badges & {
                width: 25%;
                float: left;
            }
            &.list-other {
                cursor: pointer;
                .text,
                .description {
                    &:before {
                        content: '';
                        width: 120px;
                        height: 1px;
                        background: $light-gray;
                        position: absolute;
                        margin-top: -5px;
                    }
                }
            }
        }
        .icon {
            width: 30px;
            float: left;
        }
        .text,
        .description {
            width: calc(100% - 40px);
            float: right;
        }
    }
    &.shift-list {
        ul {
            li {
                min-height: 65px;
                border-bottom: 2px solid $light-gray;
            }
        }
    }
}

.profile-reward {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            width: 25%;
            float: left;
            padding: 0 5px;
            text-align: center;
            .icon-desc-container {
                width: 100%;
                .icon,
                .description {
                    width: 100%;
                }
            }
        }
    }
}


/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */

.timeline {
    padding-top: 15px;
    padding-bottom: 15px;
    ul {
        li {
            position: relative;
            margin-bottom: 0;
            padding-bottom: 15px;
            .icon-desc-container {
                &:before {
                    content: '';
                    border-left: 2px solid #B8BABA;
                    position: absolute;
                    top: 2px;
                    left: 15px;
                    height: 100%;
                }
                .icon {
                    color: #B8BABA;
                    .ic {
                        background: #FFF;
                    }
                }
            }
            &:last-child {
                .icon-desc-container {
                    &:before {
                        border: none;
                    }
                }
            }
        }
    }
}

.page-social {
    padding-top: 15px;
    padding-bottom: 15px;
    .requirements-link {
        .ic {
            float: right;
        }
    }
    .col-xs-8 {
        border-right: 1px solid $light-gray;
    }
    .btn-group {
        .share-facebook,
        .share-twitter {
            font-size: 18px;
            display: block;
            margin-top: 16px;
        }
    }
    #share-for-karma {
        width: 100%;
        text-align: right;
        border-bottom: 1px solid $light-gray;
        line-height: 0.1em;
        margin: 20px 0;
        span {
            background: #fff;
            padding: 0 10px;
            font-size: 12px;
            color: #919191;
        }
    }
}


/* Opportunity, Page Details */

.page-hero {
    .item {
        .pg-auth & {
            padding: 45px 0;
        }
        .pg-default & {
            height: 410px;
            width: 100%;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            @include background-size(cover !important);
            display: table;
            padding: 0 15px;
            .page-title {
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
    }
}

.opportunity-head {
    .opportunity-selector {
        margin-top: 7px;
    }
}

.profile-hero {
    margin-bottom: 25px;
    .item {
        height: 410px;
        width: 100%;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        @include background-size(cover !important);
        padding-top: 100px;
        background: #DDD;
        position: relative;
        .profile-hero-content {
            @include block-nooverflow;
        }
        .profile-img {
            position: relative;
            min-width: 65px;
            min-height: 65px;
            display: inline-block;
            img {
                border: 2px solid #FFF;
                margin: 0 auto;
            }
            .profile-score {
                background: #FFF;
                @include border-radius(50%);
                width: 20px;
                position: absolute;
                bottom: 5px;
                right: 0;
            }
        }
        .badges-trophies-count {
            font-weight: bold;
        }
        .profile-progress {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }
}


/* Profile */

.profile-bio {
    padding-top: 15px;
}


/* Dashboard */

.dashboard-nav {
    background: #DDD;
    .btn-default {
        color: #333;
        background-color: transparent;
        border-color: #FFF;
    }
}

.dashboard-projects {
    a,
    h3 {
        color: $base-dark;
    }
    .event-img {
        height: 230px;
        position: relative;
        .dashboard-event-status {
            position: absolute;
            background: transparentize(#FFF, 0.2);
            top: 20px;
            font-size: 12px;
            padding: 0 10px;
        }
    }
    .project-title {
        width: calc( 100% - 60px);
        float: left;
        margin: 0;
        line-height: 20px;
        color: $base-dark;
        font-size: 18px;
        letter-spacing: 0.72px;
        font-weight: 600;
    }
    .event-karma {
        width: 50px;
        float: right;
        text-align: center;
        div {
            display: block;
            width: 100%;
            span {
                margin: 0 auto;
            }
        }
        .event-karma-count {
            font-size: 14px;
            letter-spacing: 0.56px;
            font-weight: 600;
            line-height: 15px;
        }
        .icon-karma {
            font-size: 10px; // float: right;
        }
    }
    .event-date {
        margin-top: 12px;
    }
    .event-date,
    .event-location {
        width: 100%;
        @include block-nooverflow;
        line-height: 20px;
        font-size: 14px;
        letter-spacing: 0.56px;
    }
}

.selected-team-list {
    margin-top: 20px;
}


/* Footer Nav */

.footertext {
    color: #FFF;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 20px;
    .pg-default &{
        color: $base-color;
    }
}

.question-bar {
    margin-top: 35px;
    @extend .footertext;
    a {
        @extend .footertext;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.reset-link{
    a{
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    @extend .footertext;
    @include Opacity(0.4);
    border-top: 1px solid #FFF;
    padding: 10px 0;
    margin: 10px 0;
}

.reset-link {
    @extend .footertext;
    a {
        @extend .footertext;
    }
}

.bottom-nav {
    .btn-group {
        width: 48%;
        &:only-child {
            float: right;
            width: auto;
        }
    }
}


/* Modal */

.modal-content {
    @include border-radius(0);
    .modal-header {
        background: url('https://placeimg.com/600/190/people/grayscale') top center no-repeat;
        .input-group {
            margin: 30px 0;
            padding: 10px;
            background: #FFF;
            border: 1px solid #000;
            .form-control {
                border: none;
                box-shadow: none;
            }
            .input-group-btn {
                border: 1px solid #F7F7F7;
            }
        }
    }
    .close {
        font-size: 30px;
        background: #FFF;
        @include border-radius(50%);
        width: 30px;
        opacity: 1;
        margin-right: -22px;
        margin-top: -22px;
    }
    .modal-footer {
        .btn {
            float: left;
        }
    }
}

.btn-ask {
    cursor: pointer;
}

.team-mates-avatar {
    width: 100%;
    @include block-nooverflow;
    img {
        float: right;
        margin-left: -15px;
        border: 2px solid #FFF;
    }
}

.team-mates-count {
    width: 100%;
    @include block-nooverflow;
    font-size: 12px;
}