<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Sign In to the Sparks.Network
</snui-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="social-login segment">
      <div class="btn-group" role="group">
        <auth-facebook-login-button></auth-facebook-login-button>
      </div>
      <div class="btn-group" role="group">
        <auth-google-login-button></auth-google-login-button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

