<div class='segment'>
  <auth-error-alert></auth-error-alert>
  <auth-email-password-form></auth-email-password-form>
  <div class="row">
     <div class="col-xs-6">
      <button btn (click)='create()' [disabled]="!epForm.credentialsForm.valid">Join</button>
    </div> 
    <div class="col-xs-6">
      <button btn (click)='signIn()' [disabled]="!epForm.credentialsForm.valid">Sign In</button>
    </div>
  </div>
</div>
<!-- <div class="segment reset-link">
  Forgot Your Password? Reset it
</div> -->