<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Sign In to the Sparks.Network
</snui-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="social-login segment">
      <div class="btn-group" role="group">
        <auth-button-signin-facebook></auth-button-signin-facebook>
      </div>
      <div class="btn-group" role="group">
        <auth-button-signin-google></auth-button-signin-google>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<snui-action-bar></snui-action-bar>