<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a href="#" class="navbar-menu btn btn-primary" title="Signup">Signup</a>
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork_white.svg" alt="sparks.network"/></a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <a href="#" class="navbar-menu btn btn-primary" title="Signup">Signup</a>
  </div>
  <!--/.nav-collapse -->
</nav>
<!-- <router-outlet></router-outlet> -->

<snui-header-simple imageUrl="">
  Sign In to<br/>Sparks.Network
</snui-header-simple>


<div class="col-xs-12 col-sm-8 col-md-6">
  <div class="row">
    <button type="button" (click)="signInWithFacebook()" class="btn btn-block btn-social-login">
          <span class="ic ic-facebook" aria-hidden="true"></span> Sign in with Facebook
        </button>
    <auth-button-signin-google></auth-button-signin-google>
  </div>
</div>

<router-outlet></router-outlet>

<snui-action-bar></snui-action-bar>
