@import "style";

.header-gradient {
  display: block;
  @extend .row;
  margin-bottom: 25px;
  @extend .sn-gradient;
}

.header-content {
  min-height: 252px;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  @include background-size(cover !important);
  padding-top: 50px; // position: relative;
}

:host {
  @extend .header-gradient;
  // margin-bottom: 25px;
  // @extend .sn-gradient;
  .item {
    @extend .header-content;
      // min-height: 252px;
      // width: 100%;
      // background-repeat: no-repeat !important;
      // background-position: center center !important;
      // @include background-size(cover !important);
      // padding-top: 50px; // position: relative;
      .profile-hero-content {
          @include block-nooverflow;
      }
      .profile-img {
          position: relative;
          width: 100px;
          height: 100px;
          display: inline-block;
          @include Opacity(9.5);
          margin-bottom: 35px;
          .img-circle {
              height: 100%;
              width: 100%;
              background-color: #FFF !important;
              background-size: 92% !important;
              background-repeat: no-repeat !important;
              background-position: 5px center !important;
              margin: 0 auto;
              @include box-shadow-multiple(inset 12px 12px 2px -3px rgba(38, 172, 223, 0.26), inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 2px 2px rgba(172, 55, 117, 0.26));
              &.img-isauthed {
                  background-size: 100% !important;
                  background-position: 0 center !important;
              }
          }
          .profile-score {
              color: $base-dark;
              font-size: 17px;
              line-height: 24px;
              @include box-shadow(0.914px, 0.407px, 6.44px, 0.56px, rgba(0, 0, 0, 0.5), false);
              background: #FFF;
              @include border-radius(50%);
              width: 24px;
              height: 24px;
              position: absolute;
              bottom: 5px;
              right: 0;
          }
      }
      .badges-trophies-count {
          font-weight: bold;
      }
      .profile-progress {
          width: 100%;
          @include block-nooverflow; // position: absolute;
          // bottom: 0;
          font-size: 14px;
          font-weight: normal;
          .next-level-container {
              color: #FFF;
              font-size: 12px;
              letter-spacing: 0.72px;
              line-height: 12px;
              .level-left,
              .level-right {
                  display: inline-block;
              }
              .level-label {
                  font-weight: 300;
                  line-height: 14px;
              }
              .current-level {
                  font-size: 14px;
                  letter-spacing: 0.56px;
                  @include Opacity(0.4);
                  display: inline-block;
              }
              .next-level {
                  font-size: 18px;
                  letter-spacing: 0.72px;
                  display: inline-block;
              }
          }
          .progress {
              margin: 10px 0 25px 0;
              background-color: transparentize(#FFF, 0.7);
              height: 10px;
              overflow: visible;
              @include border-radius(5px);
              .progress-bar {
                  @include border-radius(5px);
                  background-color: #FFF;
                  position: relative;
                  .ic {
                      position: absolute;
                      bottom: -7px;
                      right: -7px;
                  }
              }
          }
      }
  }
}