<form novalidate [formGroup]="resetPasswordForm" id="resetPasswordForm" (ngSubmit)="submit()" (keyup)="onKeyUp()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-input" [class.has-error]="!resetPasswordForm.get('password').valid && showErrors">
        <div class="icon">
          <span class="ic ic-key"></span>
        </div>
        <div class="text">
          <input id="password" type="password" class="form-control" placeholder="Reset your password" formControlName="password">
        </div>
        <div class="error" [hidden]="!showErrors">
          <span *ngIf="resetPasswordForm.get('password').hasError('required')">
            Password is required
          </span>
        </div>
      </div>
    </div>
  </div>
</form>