<form novalidate [formGroup]="resetPasswordForm" novalidate>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-input" [class.has-error]="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
        <div class="icon">
          <span class="ic ic-key"></span>
        </div>
        <div class="text">
          <input type="password" class="form-control" placeholder="Reset your password" formControlName="password">
          <div class="error" *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">
            Password is required
          </div>
        </div>
      </div>
    </div>
  </div>
</form>