<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Placeholder Project List Page
</snui-header-simple>
<div>
  <h2>Form for entering Project</h2>
  <form [formGroup]="newProject" (ngSubmit)="create()">
    <input type="text" class="form-control" formControlName="name"/>
    <input type="text" class="form-control" formControlName="description"/>
    <button type="submit">Add Project</button>
  </form>
</div>
<div>
  <h2>List of Projects</h2>
  <div *ngFor='let project of projects | async'>
    Name: {{project.name}}
  </div>
</div>