<ng-container *ngIf='team | async; let team'>
 <snui-header-simple [imageUrl]="(project.images.length > 0 ? project.images[0].imageUrl : 'https://placeimg.com/1140/410/people/grayscale')">
        Please answer the question for team "{{team.title}}"
    </snui-header-simple>

    <!-- <div class="segment">
        <p class="card-text">
            {{team.description}}
        </p>
    </div> -->

    <div class="segment no-brd">
        <p class="card-text">
            {{team.question}}
        </p>
    </div>


    <form novalidate [formGroup]="answerForm">


        <div class="form-input question-input" [class.has-error]="!answerForm.get('answer').valid && answerForm.get('answer').touched">
            <div class="icon">
                <span class="ic ic-textbox"></span>
            </div>
            <div class="text">
                <textarea class="form-control" id='answer' formControlName="answer" rows="4" cols="50" placeholder="Type Your Answer"></textarea>
            </div>
        </div>

        <div class="error" *ngIf="answerForm.get('answer').hasError('required') && answerForm.get('answer').touched">
            Answer is required
        </div>

        <snui-action-bar *ngIf="project" [projectTitle]="project.title" [type]="actionBarType.Organizer">
            <div class="row">
                <div class="col-xs-4">
                    <a [routerLink]="['..']" class="btn btn-default">Previous</a>
                </div>
                <div class="col-xs-4 col-xs-offset-4">
                    <button id='next' class="btn btn-default" [disabled]='(!answerForm.valid) || (isDisabled)' (click)='join(team.$key, team.question)'>Join</button >
                </div>
            </div>
    </snui-action-bar>
    </form>
</ng-container>