<ng-container *ngIf='team | async; let team'>
    <snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
        Join <br/> {{team.title}}
    </snui-header-simple>
    <div class="row">
        <div class="col-xs-12">
            <div class="segment">
                <p class="card-text">
                    {{team.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="segment">
                <p class="card-text">
                    {{team.question}}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <textarea [(ngModel)]='answer' rows="4" cols="50" placeholder="Type Your Answer"></textarea>
        </div>
    </div>
    <snui-action-bar [type]="actionBarType.Organizer">
        <div class="col-xs-8 bottom-nav">
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-block btn-default">Previous</a>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-block btn-default" (click)='join()'>Join</button >
        </div>
      </div>
    </snui-action-bar>
</ng-container>