:host {
  .header {
    margin: 0.5em 0 0 !important;
  }
}

@media only screen and (min-width: 992px) {
  :host {
      .item {
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
      }
  }
}
