<div *ngIf="(app$ | async); let app">    
  <snui-header-carousel [images]="app.project.images"></snui-header-carousel>
  <snui-project-title [title]="app.project.title" [maxKarmaPoints]="app.project.maxKarmaPoints"></snui-project-title>
  <snui-opp-title [title]="app.opp.title">
    <span class='status'>{{ app.status | snApplicationStatus }}</span>
  </snui-opp-title>
  <div *ngIf="app.status=='Pending'" class="segment">
    <p class="card-text">
        Your application has been sent to the organizer. Watch your inbox for a notice that you've been accepted, or just sign in
        to the Sparks.Network to check any time!
    </p>
  </div>
</div>
