<div class="row">
  <div class="col-xs-12">
    <div class="event-requirements">
      <div class="col-xs-12 event-req-row">
        <div class="row">
          <ng-container *ngFor="let opp of opps | async; let i=index">
            <div class="col-xs-6">
              <project-opp-card [opp]="opp" [applicationStatus]='getOppStatus(opp, (applications | async))'></project-opp-card>
            </div>
            <div class="clearfix" *ngIf="i%2==1"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
