@import "style";

:host {
  @extend .sn-gradient;
  @extend .header-block;
  @extend .header-text;
  margin-bottom: 25px;
  min-height: 280px;
  padding-top: 50px;

  .summary {
    @extend .row;

    .badge-count, .trophy-count {
      @extend .col-xs-3;
      font-size: 24px;
      margin-top: 64px;
  
      label {
        @extend .header-text-label;
      }
    }
    .trophy-count {
      @extend .text-right;
    }
  
    .picture {
      @extend .col-xs-6;
      @extend .text-center;
  
      .image {
        @extend .img-responsive;
        @extend .img-circle;
        @include Opacity(9.5);
        @include box-shadow-multiple(inset 12px 12px 2px -3px rgba(38, 172, 223, 0.26), inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5), inset 3px 3px 2px 2px rgba(172, 55, 117, 0.26));
        background-size: 100%;
        display: inline-block;
        width: 135px;
        height: 135px;
      }
    }
  }

  .next-level {
    margin-top: 12px;
    .karma-needed {
      @extend .pull-right;
      @extend .text-right;
      line-height: 8px;
      margin-right: 6px;
      margin-top: 2px;
      label {
        @extend .header-text-label;
        font-size: 12px;
      }
      .current {
        @include Opacity(0.4);
      }
      .target {
        font-size: 18px;
      }
    }
    .karma-icon {
      @extend .pull-right;
      @extend .ic;
      @extend .ic-karma-points-white;
    }
  }

  .progress-bar {
    width: 100%;
    @include border-radius(5px);
    height: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: transparentize(#FFF, 0.7);

    .bar {
      @include border-radius(5px);
      background-color: #FFF;
      position: relative;
      height: 10px;

      .dot {
        @extend .ic;
        @extend .ic-progress;
        position: absolute;
        bottom: -7px;
        right: -7px;
      }
    }
  }
}
