<div class='summary'>
  <div class='badge-count'>{{quests.length || 0}} <label>quests</label></div>
  <div class='picture'>
    <div class='image' [style.background-image]='"url(" + profile.photoURL + ")"'></div>
  </div>
  <div class='trophy-count'>{{badges.length || 0}} <label>badges</label></div>
</div>
<div class='next-level'>
    <div class='karma-icon'></div>
    <div class='karma-needed'>
    <label>Next Level</label>
    <span class='current'>320 /</span> <span class='target'>1300</span>
  </div>
</div>
<div class='progress-bar'>
  <div class='bar' [style.width]="'20%'">
    <span class="dot"></span>
  </div>
</div>
