<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
    Confirm Your <br> Cancelation
</snui-header-simple>
<div class="row">
    <div class="col-xs-12">
        <div class="segment">
            <p class="card-text">Work a few shifts during the event and get a massive ticket discount, special shwag, and meals from our delicious
                commissary.</p>
        </div>
    </div>
</div>
<project-opp-benefits title ="You Will Loose" [project]="project | async" [opp]="opp | async" [benefits]="benefits | async"></project-opp-benefits>
<project-opp-visit-requirements></project-opp-visit-requirements>
<snui-action-bar [type]="actionBarType.Organizer">
    <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
            <a  class="btn btn-block btn-default">Cancel</a>
        </div>
        <div class="btn-group" role="group">
         <button class="btn btn-block btn-default" (click)='save()'>Save</button>
</div>
</div>
</snui-action-bar>