<ng-container *ngIf='application'>
  <snui-header-simple *ngIf="project" [imageUrl]="(project.images.length > 0 ? project.images[0].imageUrl : 'https://placeimg.com/1140/410/people/grayscale')">
    Almost There,<br/> Ready to Apply?
  </snui-header-simple>

  <div class="segment">
    <p class="card-text">
      Double-check your details before you send the application to the organizer.
    </p>
  </div>


  <div class="profile-details segment">
    <apply-review-profile [profile]="profile | async"></apply-review-profile>
  </div>


  <div class="segment">
    <div class="row">
      <h3 class="col-xs-9 collapse-title collapsed" data-toggle="collapse" data-target="#organizer-question">The Organizer Question</h3>
      <div class="col-xs-3 segment-title-link-container collapse-link"><a [routerLink]="['..','edit-answer']">edit<span class="ic ic-edit" aria-hidden="true"></span></a></div>
    </div>
    <div class="collapse" id="organizer-question">
      <div class="segment no-brd no-padding-bt">
        <p class="card-text mb-10">{{application.oppQuestion}}</p>
        <p>{{application.oppAnswer}}</p>
      </div>
    </div>
  </div>

  <div class="segment no-brd">
    <div class="row">
      <h3 class="col-xs-9 collapse-title collapsed" data-toggle="collapse" data-target="#selected-teams">Selected Teams</h3>
      <div class="col-xs-3 segment-title-link-container collapse-link"><a [routerLink]="['..','teams']">edit<span class="ic ic-edit" aria-hidden="true"></span></a></div>
      <div class="col-xs-12 collapse" id="selected-teams">
        <apply-opp-teams-selected [allTeams]='allTeams | async' [editable]='false'></apply-opp-teams-selected>
      </div>
    </div>
  </div>

  <snui-action-bar *ngIf="project" [projectTitle]="project.title" [type]="actionBarType.Organizer">
    <div class="row">
      <div class="col-xs-4">
        <a [routerLink]="['..','teams']" class="btn btn-default">Previous</a>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <button class="btn btn-default" (click)='apply()'>Next</button >
      </div>
    </div>
  </snui-action-bar>

    
</ng-container>