<ng-container *ngIf='application'>
  <snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>    
    Almost There,<br/> Ready to Apply?
  </snui-header-simple>

  <div class="segment">
    <p class="card-text">
      Double-check your details before you send the application to the organizer.
    </p>
  </div>


  <div class="profile-details segment">
    <apply-review-profile [profile]="profile | async"></apply-review-profile>
  </div>


  <div class="segment">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="segment-title" data-toggle="collapse" data-target="#organizer-question">The Organizer Question</h3>
      </div>
      <div class="col-xs-12 collapse" id="organizer-question">
        <div class="text-right"><a [routerLink]="['..','edit-answer']">edit <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
        <div class="segment no-brd">
          <p class="card-text">{{application.oppQuestion}}</p>
          <div class="edit-profile-detalils">
            <div class="form-input question-input">
              <div class="icon">
                <span class="ic ic-textbox"></span>
              </div>
              <div class="text">
                  <textarea class="form-control" readonly="">{{application.oppAnswer}}</textarea>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="segment no-brd">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="segment-title" data-toggle="collapse" data-target="#selected-teams">Selected Teams</h3>
          </div>
          <div class="col-xs-12 collapse" id="selected-teams">
            <div class="text-right"><a [routerLink]="['..','teams']">edit <span class="ic ic-pencil" aria-hidden="true"></span></a></div>
            <apply-opp-teams-selected [allTeams]='allTeams | async' [editable]='false'></apply-opp-teams-selected>
          </div>
        </div>
      </div>
    </div>
  </div>

  <snui-action-bar [type]="actionBarType.Organizer">
    <div class="row">
      <div class="col-xs-4">
        <a [routerLink]="['..','teams']" class="btn btn-default">Previous</a>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <button class="btn btn-default" (click)='apply()'>Next</button >
      </div>
    </div>
  </snui-action-bar>

    
</ng-container>