<div class="you-get-give-join segment no-padding-tp no-brd">
  <ul *ngIf="shifts?.length">
    <li *ngFor="let shift of shifts">
      <div class="icon-desc-container" (click)="select(shift.$key)" style="cursor: pointer">
        <div class="icon">
          <span class="ic {{shift.teamIcon}}"></span>
        </div>
        <div class="description">
          <h4>{{shift.teamTitle}}</h4>
          <div class="timeline-when">
              <p>{{shift.startDateTime | snDateTimeInterval: shift.endDateTime}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="karma-point-container">
              <div class="team-mates-avatar">
                <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
                <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
                <img class="img-responsive img-circle" src="https://placeimg.com/35/35/people/grayscale" />
              </div>
              <div class="team-mates-count">
                <p>+4 more</p>
              </div>
            </div> -->
    </li>
  </ul>
  <p *ngIf="!shifts?.length" id="no-shift-message">
    There are no shifts available for the specified filters.
  </p>
</div>