<snui-header-simple [imageUrl]='(project | async)?.images[0].imageUrl'>
  Confirm Your Spot:<br>Select Shifts
</snui-header-simple>

<div class="segment" *ngIf="project | async; let project">
  <p class="card-text">Now that you've been approved for {{project.title}}, let's set up your schedule.</p>
</div>

<apply-shifts-selected></apply-shifts-selected>

<apply-shift-filter [allShifts]="shifts" (activeFilters)="filterShifts($event)"></apply-shift-filter>
<apply-shift-list [shifts]="filteredShifts"></apply-shift-list>

<snui-action-bar [type]="actionBarType.Organizer">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <button class="btn btn-default" [disabled]="!selectedShiftsNo" [routerLink]="['../payment-details']">Next</button>
    </div>
  </div>
</snui-action-bar>