<snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
  Confirm Your Spot:<br>Select Shifts
</snui-header-simple>

<apply-shifts-selected></apply-shifts-selected>

<div class="row" *ngIf="project | async; let project">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Now that you've been approved for {{project.title}}, let's set up your schedule.</p>
    </div>
  </div>
</div>

<apply-shift-filter [shifts]="shifts | async"></apply-shift-filter>
<apply-shift-list [shifts]="shifts | async"></apply-shift-list>

<snui-action-bar></snui-action-bar>
