<!-- DESIGN WAS CHANGED, REMOVED snui-action bar <snui-action-bar [type]="actionBarType.Organizer" *ngIf="opp"> -->
<div class="user-action-container">
  <ng-container *ngIf='!application'>
    <a *ngIf='opp' [routerLink]="['/apply', opp.$key, 'answer-question']" class="btn btn-bordered btn-block" title="Join Now">Join Now</a>
  </ng-container>
  <ng-container *ngIf='application'>
    <ng-container *ngIf='showCancelButton'>
      <a class="btn btn-bordered btn-block" (click)="cancel(application)" title="Cancel">Cancel</a>
    </ng-container>
    <ng-container *ngIf='!showCancelButton'>
        <a class="btn btn-bordered btn-block" title="Continue">Continue</a>
      </ng-container>
  </ng-container>
</div>
<!-- </snui-action-bar> -->