<nav class="navbar navbar-default">
  <div class="appbar-left">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork_white.svg" alt="sparks.network"/></a>
  </div>
  <div class="appbar-right">
    <a [routerLink]="['../signup']" class="appbar-menu btn btn-primary" title="Sign up to Sparks.Network">Sign up</a>
  </div>
</nav>

<header-auth>
Create a new account
</header-auth>

<div class="col-xs-12 col-sm-8 col-md-6">
  <div class="row">

    <div class="segment">
      <auth-alert-error></auth-alert-error>
      <auth-form-email-password (onSubmit)="createWithEmailAndPassword($event)"></auth-form-email-password>
    </div>

    <div class="segment no-brd bottom-links">
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-block btn-primary" [routerLink]='["../signup"]'>Cancel</button>
        </div>
        <div class="col-xs-6">
          <button type="submit" form="emailPasswordForm" class="btn btn-block btn-secondary pull-right" id='signin'>Join</button>
        </div>
      </div>
    </div>

  </div>
</div>

<snui-action-bar></snui-action-bar>