<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Sign In to the Sparks.Network
</snui-header-simple>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">Start by entering your credentials or by filling in with your details.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="social-login segment">
      <div class="btn-group" role="group">
        <auth-facebook-login-button></auth-facebook-login-button>
      </div>
      <div class="btn-group" role="group">
        <auth-google-login-button></auth-google-login-button>
      </div>
    </div>
  </div>
</div>

<auth-email-password-form></auth-email-password-form>

<div class="reset-link">
  Forgot Your Password? Reset it
</div>

<!-- @TODO generate GENERAL CONTACT component -->
<div class="row">
  <div class="col-xs-12">
    <div class="row segment">
      <div class="col-xs-4">
        <div id="event-contact" class="row">
          <a href="#">
            <div class="icon">
              <span class="ic ic-cog"></span>
            </div>
            <div class="text">
              <span>Ask Sparks</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-8 bottom-nav">
        <div class="btn-group" role="group">
          <a [routerLink]="['/account/register/social']" class="btn btn-block btn-default">Guest/Cancel</a>
        </div>
        <div class="btn-group" role="group">
          <button type="submit" class="btn btn-block btn-default" [disabled]="!epForm.credentialsForm.valid">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>