<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  {{title}}
</snui-header-simple>

<auth-alert-error></auth-alert-error>

<div class='segment' *ngIf='verificationEmailExpired'>
  <p class='text-danger'>Sign in below to recive a new verification email.</p>
  <auth-form-email-password (onSubmit)="signInAndResendVerificationEmail($event)"></auth-form-email-password>
  <div class="row">
    <div class="col-xs-6">
      <button type="submit" form="emailPasswordForm" class="btn btn-default">Sign In</button>
    </div>
  </div>
</div>

<div class='segment' *ngIf="resetPasswordEmail">
  <p>Resetting password for: {{resetPasswordEmail}}.</p>
  <auth-form-reset-password (onSubmit)="confirmPasswordReset($event)"></auth-form-reset-password>
</div>
<snui-action-bar>
  <div class="row">
    <div class="col-xs-6 pull-right">
      <button type="submit" form="resetPasswordForm" class="btn btn-default btn-block">Reset</button>
    </div>
  </div>
</snui-action-bar>