<nav class="navbar navbar-default">
    <div class="appbar-left">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork_white.svg" alt="sparks.network"/></a>
    </div>
    <div class="appbar-right">
      <a [routerLink]="['../signup']" class="appbar-menu btn btn-primary" title="Sign up to Sparks.Network">Sign up</a>
    </div>
  </nav>
  
  <auth-header>
      {{title}}
  </auth-header>

<auth-alert-error></auth-alert-error>

<div class="segment" *ngIf="verificationEmailExpired">
  <p class="text-danger">Sign in below to recive a new verification email.</p>
  <auth-form-email-password (onSubmit)="signInAndResendVerificationEmail($event)"></auth-form-email-password>
  <div class="row">
    <div class="col-xs-6">
      <button type="submit" form="emailPasswordForm" class="btn btn-default">Sign In</button>
    </div>
  </div>
</div>

<div class="segment no-padding-tp show-flow" *ngIf="resetPasswordEmail">
  <p class="hero-text">Resetting password for: {{resetPasswordEmail}}.</p>
  <auth-form-reset-password (onSubmit)="confirmPasswordReset($event)"></auth-form-reset-password>
</div>
<snui-action-bar>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <button type="submit" form="resetPasswordForm" class="btn btn-primary">Reset</button>
    </div>
  </div>
</snui-action-bar>