<div *ngIf="project | async; let project">

  <snui-header-carousel [images]="project.images"></snui-header-carousel>
  <project-project-title [title]="project.title" [maxKarmaPoints]="project.maxKarmaPoints"></project-project-title>

  <div class="project-date-location">
    <div class="row row-small-pad">
    <project-project-date 
      [startDateTime]="project.startDateTime" 
      [endDateTime]="project.endDateTime" 
      [title]="project.title"
      [location]="project.location"
      [description]="project.description">
    </project-project-date>

    <project-project-location [location]="project.location"></project-project-location>
    </div>
  </div>
 
  <project-project-description [description]="project.description"></project-project-description>

  <router-outlet></router-outlet>

  <project-project-organizer [organizer]="project.organizer"></project-project-organizer>
  
  <snui-project-project-links
    [projectPageUrl]="project.projectPageUrl"
    [facebookUrl]="project.facebookUrl"
    [twitterUrl]="project.twitterUrl"
    [shareKarmaPoints]="project.shareKarmaPoints">
  </snui-project-project-links>

</div>

<snui-action-bar class="emptyBottomNav"></snui-action-bar>