<div *ngIf="project | async; let project">

  <snui-header-carousel [images]="project.images"></snui-header-carousel>
  <project-project-title [title]="project.title" [maxKarmaPoints]="project.maxKarmaPoints"></project-project-title>

  <div class="col-xs-12">
    <div class="event-date-location segment">
      <div class="event-date col-xs-6 text-right">
        <a href="#">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">
            {{project.startDateTime | amDateFormat:'MMM D'}}
            <span *ngIf='project.endDateTime'>
              - {{project.endDateTime | amDateFormat:'MMM D'}}
            </span>
            <br/>
            <span>
              <project-add-to-calendar
                [startDateTime]="project.startDateTime"
                [endDateTime]="project.endDateTime"
                [title]="project.title"
                [location]="project.location"
                [description]="project.description"
                >
              </project-add-to-calendar> 
            </span>
          </div>
        </a>
      </div>
      <div class="event-location col-xs-6">
        <a target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr={{project.location?.latitude}},{{project.location?.longitude}}">
          <div class="text">
            {{project.location?.name}}<br/>
            {{project.location?.city}}, {{project.location?.state}}<br/>
            <span>get directions</span>
          </div>
          <div class="icon">
            <span class="ic ic-map-marker"></span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="event-description segment">
      <p class="card-text">{{project.description}}</p>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>