<nav class="navbar navbar-default">
        <div class="navbar-header">
            <a *ngIf="isAuthed" href="#" class="navbar-menu" title="Dashboard">
               <span class="ic ic-profile"></span>
            </a>
            <a *ngIf="!isAuthed" [routerLink]="['auth', '/', 'signin']" class="navbar-menu btn btn-default" title="Login">
                Login
            </a>
            <button type="button" class="navbar-menu navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="ic ic-search"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork.svg" alt="sparks.network"/></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a *ngIf="isAuthed" href="#" class="navbar-menu" title="Dashboard">
                <span class="ic ic-profile"></span>
            </a>
            <a *ngIf="!isAuthed" [routerLink]="['auth', '/', 'signin']" class="navbar-menu btn btn-default" title="Login">
                Login
            </a>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
</nav>
<router-outlet></router-outlet>