<div class="nav-container">
<nav class="navbar navbar-default">
  <div class="appbar-left">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork.svg" alt="sparks.network"/></a>
  </div>
  <div class="appbar-right">
    <a class="collapsed appbar-menu" data-toggle="collapse" data-target="#appbar-collapse" aria-expanded="false" aria-controls="navbar">
      <span class="ic ic-search"></span></a>
    <a *ngIf="isAuthed" class="appbar-menu" title="Dashboard" [routerLink]="['/your-profile']"><span class="ic ic-profile"></span></a>
    <a *ngIf="!isAuthed" (click)="navigateToSignIn()" class="appbar-menu btn btn-default" title="Sign In">Sign In</a>
  </div>
</nav>

<div class="collapse" id="appbar-collapse">
  <div class="row">
    <div class="col-xs-12">
    <form class="navbar-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for" #searchValue>
        <span class="input-group-btn">
              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#appbar-collapse" (click)="searchValue.value=''"><span class="ic ic-close"></span></button>
        </span>
      </div>
      
    </form>
    </div>
  </div>
</div>
</div>


<router-outlet></router-outlet>