<ng-container *ngIf="project | async; let project">
  <ng-container *ngIf='opp | async; let opportunity'>
    <div class="row">
      <div class="col-xs-12">
        <div class="segment">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">
            <h4>{{opportunity.benefitValue | currency:'USD':true }} value for {{opportunity.contribValue | currency:'USD':true}}</h4>
            <p><span>The regular ticket price is reduced to the price of {{opportunity.contribValue | currency:'USD':true}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="opportunity-description segment">
          <p class="card-text">{{opportunity?.description}}</p>
          <p class="card-location lineabove" *ngIf="project.location">{{project.location.address}}, {{project.location.city}}, {{project.location.state}}
            <a target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr={{project.location.address}}, {{project.location.city}}, {{project.location.state}}">Get directions</a>
          </p>
        </div>
      </div>
    </div>
    <project-opp-teams *ngIf='teams' [teams]='teams | async'></project-opp-teams>
  </ng-container>
</ng-container>