<ng-container *ngIf="project">
<!-- <ng-container *ngIf="project | async; let project"> -->
  <ng-container *ngIf='opp'>
    <div class="row">
      <div class="col-xs-12">
        <div class="segment">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">
            <h4>{{opp.benefitValue | currency:'USD':true }} value for {{opp.contribValue | currency:'USD':true}}</h4>
            <p><span>The regular ticket price is reduced to the price of {{opp.contribValue | currency:'USD':true}}</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="opportunity-description segment">
          <p class="card-text">{{opp?.description}}</p>
          <p class="card-location lineabove" *ngIf="project.location">{{project.location.address}}, {{project.location.city}}, {{project.location.state}}
            <a target="_blank" href="https://www.google.com/maps?saddr=My+Location&daddr={{ project.location | location:true}}">Get directions</a>
          </p>
        </div>
      </div>
    </div>
    <project-opp-commitments [benefits]='benefits | async' [contribs]='contribs | async'></project-opp-commitments>
    <project-opp-teams [teams]='teams | async'></project-opp-teams> 
    <project-opp-visit-requirements></project-opp-visit-requirements>
    <snui-action-bar [type]="actionBarType.Organizer">
      <a href="#" class="btn btn-primary btn-block" title="Join Now">Join Now</a>
    </snui-action-bar>
  </ng-container>
 </ng-container> 