<div class="row"  *ngIf='benefits?.length || contribs?.length'>
  <div class="col-xs-12">
    <div class="you-will-give-got segment" *ngIf="benefits?.length">
      <h3>You Will Get</h3>
      <ul>
        <li *ngFor="let commitment of benefits">
          <snui-card-item [icon]="commitment.icon" [title]="commitment.title" [subtitle]="commitment.description"></snui-card-item>
        </li>
      </ul>
    </div>

     <div class="you-will-give-got segment" *ngIf="contribs?.length">
      <h3>You Will Give</h3>
      <ul>
        <li *ngFor="let commitment of contribs">
          <snui-card-item [icon]="commitment.icon" [title]="commitment.title" [subtitle]="commitment.description"></snui-card-item>
        </li>
      </ul>
    </div>
  </div> 
</div>