<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Who Are You? Fill In The Blanks.
</snui-header-simple>

<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">In order to complete your volunteering we need to fill in some blanks.</p>
    </div>
  </div>
</div>

<form action="">
  <div class="row">
    <div class="col-xs-12">
      <div class="edit-profile-detalils segment">
        <!-- @TODO complete profile regular START -->
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Legal Name?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-user"></span>
          </div>
          <div class="text">
            <input type="text" class="form-control" placeholder="What's Your Preferred Name?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-phone"></span>
          </div>
          <div class="text">
            <input type="tel" class="form-control" placeholder="What's Your Phone Number?">
          </div>
        </div>
        <div class="form-input">
          <div class="icon">
            <span class="ic ic-calendar"></span>
          </div>
          <div class="text">
            <input type="date" class="form-control" placeholder="What's Your Birthday">
          </div>
        </div>
        <!-- @TODO complete profile regular END -->

      </div>
    </div>
  </div>

  <snui-action-bar>
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-block btn-default">Next</a>
    </div>
  </snui-action-bar>

</form>