<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Who Are You? Fill In The Blanks.
</snui-header-simple>

<div class="segment">
  <p class="card-text">In order to complete your volunteering we need to fill in some blanks.</p>
</div>

<apply-form-complete-profile [editAllMode]="editAllMode"></apply-form-complete-profile>

<snui-action-bar *ngIf="project" [projectTitle]="project.title" [type]="actionBarType.Organizer">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <button id='next' (click)='next()' [disabled]="!profForm.profileForm.valid" class="btn btn-default">{{editAllMode ? 'Save' : 'Next'}}</button>
    </div>
  </div>
</snui-action-bar>