<nav class="navbar navbar-default">
  <div class="appbar-left">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork_white.svg" alt="sparks.network"/></a>
  </div>
  <div class="appbar-right">
    <a *ngIf="!isAuthed" [routerLink]="['../signup']" class="appbar-menu btn btn-primary" title="Sign up to Sparks.Network">Sign up</a>
  </div>
</nav>

<auth-header>
  Check Your Inbox!
</auth-header>
<div class="hero-text-container">
<p>
  We sent you an email at {{(auth.current | async)?.email}}.<br/>It's got a verification link in it.<br/>Go click on it. We'll wait right here.
</p>
<p>
  Not received the validation email?<br/>Click <a href="#" (click)="sendValidationEmail($event)"><b>here</b></a> to resend.
</p>
<p>Not your account?</p>
<p>{{notificationMessage}}</p>
</div>

<div class="bottom-nav">
  <div class="row">
    <div class="col-xs-4">
       <a class="btn btn-primary" [routerLink]='["/"]'>Cancel</a>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <button class="btn btn-primary" *ngIf="isAuthed" (click)='signout()'>Sign Out</button>
    </div>
  </div>
</div>