<snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
  The Best Part: <br/>Pick your Teams!
</snui-header-simple>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">What kind of things do you want to work on?</p>
    </div>
  </div>
</div>

<div class="row" *ngIf='teams | async; let teams'>
  <div class="col-xs-12">
    <ng-container *ngFor='let team of teams'>
      <snui-team-card-item 
        [title]='team.title' 
        [description]='team.description' 
        [icon]='team.icon'>
      </snui-team-card-item>
    </ng-container>
  </div>
</div>
<snui-action-bar [type]="actionBarType.Organizer">
  <div class="col-xs-8 bottom-nav">
    <div class="btn-group" role="group">
      <a href="#" class="btn btn-block btn-default">Previous</a>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-block btn-default">Next</button >
        </div>
      </div>
</snui-action-bar>