<snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
  The Best Part: <br/>Pick your Teams!
</snui-header-simple>
<div class="row">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">What kind of things do you want to work on?</p>
    </div>
  </div>
</div>
<opp-teams-selected [allTeams]='allTeams | async'></opp-teams-selected>
<opp-teams-not-selected [allTeams]='allTeams | async'></opp-teams-not-selected>
<snui-action-bar [type]="actionBarType.Organizer">
  <div class="col-xs-8 bottom-nav">
    <div class="btn-group" role="group">
      <a [routerLink]="['../../../answer-question']" class="btn btn-block btn-default">Previous</a>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-block btn-default">Next</button >
        </div>
      </div>
</snui-action-bar>