<!-- <div [ngClass]="{'disabled':status === cardItemStatus.Disabled, 'active':status === cardItemStatus.Active,'pending':status === cardItemStatus.Pending}"> -->
<div>
  <div class="icon">
    <span class="ic {{icon}}"></span>
    <div class="status" *ngIf="status"><!-- top pick -->
      <!-- <div [ngSwitch]="status">
        <div *ngSwitchCase="cardItemStatus.Active">
          active
        </div>
        <div *ngSwitchCase="cardItemStatus.Pending">
          pending
        </div>       
      </div> -->
    </div>
  </div>
  <div class="text">
    <h3>{{title}}</h3>
    <p *ngIf="subtitle">{{subtitle}}</p>
    <p *ngIf="description"><span>{{description}}</span></p>
  </div>
</div>