<!-- <div [ngClass]="{'disabled':status === cardItemStatus.Disabled, 'active':status === cardItemStatus.Active,'pending':status === cardItemStatus.Pending}"> -->
<div>
  <div class="icon">
    <span class="ic {{icon}}"></span>
    <div class="status" *ngIf="status">{{status}}
    </div>
  </div>
  <div class="text">
    <h4>{{title}} <span class="opp-benefit" *ngIf="benefitValue">/ ${{benefitValue}} value</span></h4>
    <p *ngIf="subtitle">{{subtitle}}</p>
    <p *ngIf="description"><span>{{description}}</span></p>
  </div>
</div>