// breakpoints
$XS: 480px;
$S: 768px;
$M: 992px;
$L: 1800px;

/* 1200px; */

// media queries
@mixin MQ($canvas) {
    @if $canvas==XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    }
    @else if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

.row {
    &.row-small-pad {
        margin-left: -7.5px;
        margin-right: -7.5px;
        .col-xs-6 {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
    &.row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
}