.ui.minor.button {
  color: $grey;
  background-color: transparent;
  @include border-radius(7.5px);
  border: 1px solid $base-color;
  text-transform: uppercase;
  font-weight: 400;
}

.ui.menu.inverse {
  background: transparent;
  border: none;
  box-shadow: none;
}

.ui.button.inverse {
  color: white;
  border: 1px solid white;
  background: transparent;
}

.ui.circular.icon.button {
  background: transparent !important;
}

.ui.primary.button {
  color: $violetblue !important;
  @include border-radius(7.5px);
  border: 1px solid transparent;
  background: #ffffff;
  background-clip: padding-box;
  position: relative;
  outline: none;
  
  &:after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    @include gradient-horizontal-three-colors($pink, $purple, $blue);
    content: '';
    z-index: -1;
    @include border-radius(7.5px);
  }

  &:hover,
  &:active,
  &:active:hover,
  &:active:focus,
  &:focus {
      @include Opacity(1);
      color: transparentize($violetblue, 0.2);
      background-color: #FFF;
      &:after {
          @include Opacity(0.8);
      }
  }
}