@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
$regular_font_family: 'Source Sans Pro',
sans-serif;
// Colors
$base-color: #92979C;
$grey: #A8ACB0;

$off-white: #FEFFFF;
$base-dark: #253039;
/* card-text, organizedby */
$base-dark2: #444547;

$color-separator: #e9eaeb;
$pink: #BF1E58;
$rouge: #AE3572;

$violetblue: #975394;
// $summersky: #24ADE0; buttons
$blue: #24aee0;
$purple: #806bad;
$prim: #EACCD8;
$base-light: lighten( $base-color,
10%);
$light-gray: #e3e3e3;
$twitter-color: #1f88ca;
$facebook-color: #304ea5;
$linkedin-color: #1E87BE;

/* New */

@font-face {
    font-family: 'sparksnetwork';
    src: url('../fonts/sparksnetwork.eot?7607ua');
    src: url('../fonts/sparksnetwork.eot?7607ua#iefix') format('embedded-opentype'), url('../fonts/sparksnetwork.ttf?7607ua') format('truetype'), url('../fonts/sparksnetwork.woff?7607ua') format('woff'), url('../fonts/sparksnetwork.svg?7607ua#sparksnetwork') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ic {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sparksnetwork', 'Glyphicons Halflings' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1; // position: relative;
    // top: 1px;
    // display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-about:before {
    content: "\e900";
}

.ic-addcalendar:before {
    content: "\e901";
}

.ic-auto:before {
    content: "\e902";
}

.ic-birthday:before {
    content: "\e903";
}

.ic-calendar:before {
    content: "\e904";
}

.ic-close:before {
    content: "\e905";
}

.ic-dirt:before {
    content: "\e906";
}

.ic-discount:before {
    content: "\e907";
}

.ic-envelope:before {
    content: "\e908";
}

.ic-facebook:before {
    content: "\e909";
    color: #af3673;
}

.ic-food:before {
    content: "\e90a";
}

.ic-gift:before {
    content: "\e90b";
}

.ic-google:before {
    content: "\e90c";
    color: #af3673;
}

.ic-karma-points {
    background: url('../img/karma_points.svg') top center no-repeat;
    width: 25px;
    height: 18px;
    display: block;
}

.ic-karma-points-white {
    background: url('../img/karma_points_white.svg') top center no-repeat;
    width: 35px;
    height: 25px;
    display: block;
}

.ic-progress {
    background: url('../img/progress_button.svg') top center no-repeat;
    width: 26px;
    height: 26px;
}

.ic-key:before {
    content: "\e917";
}

.ic-link:before {
    content: "\e918";
}

.ic-linkfacebook:before {
    content: "\e919";
}

.ic-linkftwitter:before {
    content: "\e91a";
}

.ic-location:before {
    content: "\e91b";
}

.ic-mindful:before {
    content: "\e925";
}

.ic-namelegal:before {
    content: "\e926";
}

.ic-namepreffered:before {
    content: "\e927";
}

.ic-opp1 {
    background: url('../img/opp1.svg') top center no-repeat;
}

.ic-opp2 {
    background: url('../img/opp2.svg') top center no-repeat;
}

.ic-opp3 {
    background: url('../img/opp3.svg') top center no-repeat;
}

.ic-opp4 {
    background: url('../img/opp4.svg') top center no-repeat;
}

.ic-password:before {
    content: "\e92c";
}

.ic-passwordnew:before {
    content: "\e92d";
}

.ic-phone:before {
    content: "\e92e";
}

.ic-profile:before {
    content: "\e92f";
}

.ic-search:before {
    content: "\e930";
}

.ic-textbox:before {
    content: "\e935";
}

.ic-ticket:before {
    content: "\e936";
}