<nav class="navbar navbar-default">
  <div class="appbar-left">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo_sparksnetwork_white.svg" alt="sparks.network"/></a>
  </div>
  <div class="appbar-right">
    <a [routerLink]="['../signup']" class="appbar-menu btn btn-primary" title="Sign up to Sparks.Network">Sign up</a>
  </div>
</nav>

<auth-header>
Reseting your password
</auth-header>


<div class="col-xs-12 col-sm-8 col-md-6">
  <div class="row">

    <p *ngIf="resetEmailSentTo">
      We sent you an email at {{resetEmailSentTo}}. It's got a reset link in it. Go click on it. We'll wait right here.
    </p>

    <auth-alert-error></auth-alert-error>

    <form novalidate [formGroup]="passwordResetEmailForm" (ngSubmit)="sendPasswordResetEmail()" (keyup)="onKeyUp()">
      <div class="row">
        <div class="col-xs-12">
          <div class="segment">
            <div class="form-input" [class.has-error]="!passwordResetEmailForm.get('email').valid && passwordResetEmailForm.get('email').touched">
              <div class="icon">
                <span class="ic ic-envelope"></span>
              </div>
              <div class="text">
                <input type="email" class="form-control" placeholder="Email address" formControlName="email">

              </div>
              <div class="error" [hidden]="!showErrors">
                <span class="error" *ngIf="passwordResetEmailForm.get('email').hasError('required') && passwordResetEmailForm.get('email').touched ">
              Email is required.
            </span>
                <span class="error" *ngIf="passwordResetEmailForm.get('email').touched && passwordResetEmailForm.get('email').hasError('email') && !passwordResetEmailForm.get('email').hasError('required')">
              Email is invalid.
            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="segment no-brd bottom-links">
        <div class="row">
          <div class="col-xs-6">
            <a class="btn btn-primary btn-block" [routerLink]="['..', 'signin']">Cancel</a>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-secondary btn-block pull-right" type="submit">Next</button>
          </div>
        </div>
      </div>
    </form>



  </div>
</div>

<snui-action-bar></snui-action-bar>