<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Reseting your password
</snui-header-simple>

<form novalidate [formGroup]="passwordResetEmailForm" novalidate>
  <div class="row">
    <div class="col-xs-12">
      <div class="segment">
        <div class="form-input" [class.has-error]="!passwordResetEmailForm.get('email').valid && passwordResetEmailForm.get('email').touched">
          <div class="icon">
            <span class="ic ic-envelope-o"></span>
          </div>
          <div class="text">
            <input type="email" class="form-control" placeholder="Email address" formControlName="email">
            <div class="error" *ngIf="passwordResetEmailForm.get('email').hasError('required') && passwordResetEmailForm.get('email').touched ">
              Email is required
            </div>
            <div class="error" *ngIf="passwordResetEmailForm.get('email').touched && passwordResetEmailForm.get('email').hasError('email') && !passwordResetEmailForm.get('email').hasError('required')">
              Email is invalid
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<snui-action-bar>
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" routerLink="/">Cancel</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-default btn-block" (click)="sendPasswordResetEmail()" [disabled]="!passwordResetEmailForm.valid">Next</button>
    </div>
  </div>
</snui-action-bar>