.carousel-control {
    display: none;
}

#eventCarousel .item {
    height: 410px;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    /*@include background-size(cover !important);*/
}