<snui-header-simple imageUrl='https://placeimg.com/1140/410/people/grayscale'>
  Placeholder Home Page
</snui-header-simple>
<div class='row'>
  <div class='col-xs-12'>
    <div class='segment'>
      <ul>
        <li>
          <a [routerLink]='["dash"]'>Dash (protected by auth)</a>
        </li>
        <li>
          <a [routerLink]="['/project']">Starter Project Page</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<home-all-projects [projects]= 'projects | async'></home-all-projects>
