<div class="opp-item" [class.active]="applicationStatus | snApplicationStatus">
  <a [routerLink]="['opp', opp.$key]">
    <snui-card-item
      [icon]="opp.icon"
      [title]="opp.title + ' ' + ((opp.contribValue > 0) ? (opp.contribValue | currency:'USD':true:'1.0-0') : '')"
      [subtitle]="(opp.benefitValue | currency:'USD':true:'1.0-0') + ' in value'"
      [description]="(opp.contribValue > 0) ? ((1-(opp.contribValue / opp.benefitValue)) | percent:'1.0-0') + ' discount' : ''"
      [status] = "applicationStatus | snApplicationStatus">
    </snui-card-item>
  </a>
</div>
