<form novalidate [formGroup]="credentialsForm" id="emailPasswordForm" (ngSubmit)="submit()" (keyup)="onKeyUp()">
  <div class="row">
    <div class="col-xs-12">
      <div class="login-register">
        <div class="form-input" [class.has-error]="!credentialsForm.get('email').valid && showErrors">
          <div class="icon">
            <span class="ic ic-envelope"></span>
          </div>
          <div class="text">
            <input id="email" type="email" class="form-control" placeholder="Email address" formControlName="email">
          </div>
        </div>
        <div class="form-input" [class.has-error]="!credentialsForm.get('password').valid && showErrors">
          <div class="icon">
            <span class="ic ic-key"></span>
          </div>
          <div class="text">
            <input id="password" type="password" class="form-control" placeholder="Enter your password" formControlName="password">
          </div>
          <div class="error" [hidden]="!showErrors">
            <span *ngIf="credentialsForm.get('email').hasError('required') && !credentialsForm.get('password').hasError('required')">
              Email is required.
            </span>
            <span *ngIf="credentialsForm.get('email').hasError('email') && !credentialsForm.get('email').hasError('required')">
              Email is invalid.
            </span>
            <span *ngIf="credentialsForm.get('password').hasError('required') && !credentialsForm.get('email').hasError('required')">
              Password is required.
            </span>
            <span *ngIf="credentialsForm.get('email').hasError('required') && credentialsForm.get('password').hasError('required')">
              Email and password are required.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
