<div class="row">
  <div class="col-xs-7">
    <h3 class="segment-title">Your information</h3>
  </div>
  <div class="col-xs-5 segment-title-link-container"><a [routerLink]="['..','edit-profile']">edit<span class="ic ic-edit" aria-hidden="true"></span></a></div>
  <div class="col-xs-12 font-light" *ngIf="profile">
    <div class="row">
      <div class="col-xs-5">{{profile.legalName}}</div>
      <div class="col-xs-7 text-right">Legal Name</div>
    </div>
    <div class="row">
      <div class="col-xs-5">{{profile.preferredName}}</div>
      <div class="col-xs-7 text-right">Preferred Name</div>
    </div>
    <div class="row">
      <div class="col-xs-5">{{profile.phoneNumber}}</div>
      <div class="col-xs-7 text-right">Phone Number</div>
    </div>
    <div class="row">
      <div class="col-xs-5">{{profile.birthday | date: 'longDate'}}</div>
      <div class="col-xs-7 text-right">Birthday</div>
    </div>
  </div>
</div>