<snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
    Your Volunteering<br/> has been canceled
</snui-header-simple>

<div class="segment">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet vestibulum ante, sed mollis nibh. Nam molestie justo
        ex, eget faucibus nisl egestas vitae. Duis lobortis sollicitudin felis, vel placerat nisi condimentum et. Pellentesque
        dictum ex nec vestibulum malesuada. In lacus diam, pharetra in porta non, consectetur vitae purus. Nulla quis mauris
        enim. Etiam iaculis gravida ligula, et feugiat mi facilisis a. Aenean eget mi ut risus vestibulum lobortis eget ac
        massa.
    </p>
</div>

<snui-action-bar class="return-dashboard" [type]="actionBarType.Organizer">
    <div class="user-action-container">
        <a [routerLink]="['/']" class="btn btn-bordered btn-block">Return to Dashboard</a>
    </div>
</snui-action-bar>