<snui-header-simple imageUrl='https://placeimg.com/1140/410/animals/grayscale'>
  Congratulations!<br/>You're In!
</snui-header-simple>

<div class="row" *ngIf="project | async; let project">
  <div class="col-xs-12">
    <div class="segment">
      <p class="card-text">
        Thank you for volunteering for {{project.title}}. Have a great time!
      </p>
    </div>
  </div>
</div>

<div class="row" *ngIf="opp | async; let opp">
  <div class="col-xs-12">
    <div class="profile-badge segment" *ngIf="opp.contribValue">
      <div class="icon">
        <span class="ic ic-credit-card"></span>
      </div>
      <div class="text">
        <h4>Ticket Paid</h4>
        <p>We have deducted the amount of ${{opp.contribValue}} from your credit card **** **** **** 5212.</p>
      </div>
    </div>

    <div class="profile-badge segment" *ngIf="opp.karma">
      <div class="icon">
        <span class="ic ic-star"></span>
      </div>
      <div class="text">
        <h4>{{opp.karma}} Karma Points</h4>
        <p>You recived a new batch of karma points for your desire to volunteer at the event.</p>
      </div>
    </div>

    <div class="profile-badge segment" *ngIf="userEmail">
      <div class="icon">
        <span class="ic ic-envelope-o"></span>
      </div>
      <div class="text">
        <h4>In Your Inbox</h4>
        <p>We just sent your confirmation to you at {{userEmail}}.</p>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="project | async; let project">
  <snui-project-project-links 
    [projectPageUrl]="project.projectPageUrl" 
    [facebookUrl]="project.facebookUrl" 
    [twitterUrl]="project.twitterUrl" 
    [shareKarmaPoints]="project.shareKarmaPoints">
  </snui-project-project-links>
</ng-container>

<snui-action-bar [type]="actionBarType.Organizer">
  <div class="btn-group" role="group">
    <a [routerLink]="['/dash']" class="btn btn-default">Return to Dashboard</a>
  </div>
</snui-action-bar>